/* styles/global.css */

/* Importe la police */
@font-face {
  font-family: 'MaPolice';
  src: url('/public/fonts/Mulish0.ttf') format('truetype'),
       url('/public/fonts/Mulish.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Applique la nouvelle police au corps du document */
body {
  font-family: 'MaPolice', sans-serif;
  background-color: #f4f4f4b9;
  color: #333;
}

/* Styles pour les boutons */
button {
  padding: 8px 16px;
  border: 1px solid #333;
  background-color: #5f5d5db2;
  cursor: pointer;
}

button:hover {
  background-color: #857e7ef8;
}

/* Autres styles... */
